body {
  background-color: #1b3756;
}

#alex_head_shot{
  width:135px;
  height:135px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

#me_page_my_name{
  margin: 2px 0px 2px 2px;
  font-family: roboto, sans-serif;
  font-size: 225%;
  color: whitesmoke;
}

#me_page_bio{
  font-family: roboto, sans-serif;
  line-height: 1.4;
  text-align: left;
  font-size: 125%;
  color: whitesmoke;
}

.page_icon{
  width: 24px;
  height: 24px;
  margin: 8px 5px 0px 5px;
  cursor: pointer;
  fill: whitesmoke;
  color: whitesmoke;
}

.page_icon:hover{
  width: 28px;
  height: 28px;
  margin: 6px 3px -2px 3px;
}