@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page_icon {
    @apply w-6 h-6 mr-2 hover:animate-pulse
  }
  .hyperlink{
    @apply font-bold underline hover:animate-pulse
  }
  .nav_icon{
    @apply hover:animate-pulse
  }
  .pico_8_canvas {
    width: min(128vh, 128vw);
    height: min(128vh, 128vw);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    border: 0;
  }
  .canvas-wrapper {
    text-align: center;
  }
}